@page
@model HackMtyBanorte2023.Pages.BanIA_IntroModel
@{
}
<br />
<div class="row">

    <div class="col-lg-12">
        <img class="img-responsive" src="https://cdn.cpdonline.co.uk/wp-content/uploads/2022/06/28092954/Coaching-vs-mentoring-1200x300.jpg">
    </div>

</div>
<!-- /.row -->
<!-- Service Paragraphs -->

<div class="row">

    <div class="col-md-8">
        <h2 class="page-header">Te Presentamos a BanIA</h2>
        <p>BANIA es una asistente personal financiera dedicada al apoyo para el aprendizaje y orientación al fondo de inversiones para principiantes y avanzados. Se proporciona información transparente acerca de las ganancias y posibles riesgos de los paquetes de inversión, aparte ofrecemos un paquete de ahorro y sugerencias por medio de escenarios guiados y simulados, tomando en cuenta los objetivos y recursos del inversionista.</p>
    </div>

    <div class="col-md-4">
        <h2 class="page-header">Tu perfil es Conservador</h2>
        <p>Son aquellos que tienen menos disposición a correr riesgos al momento de invertir. Generalmente este tipo de personas apenas están iniciando su camino en el mundo de las inversiones, por lo que no tienen la confianza para tomar mayores riesgos. Sus inversiones suelen basarse en instrumentos financieros de renta fija que puedan cobrar a corto plazo, como pueden ser los bonos, cetes y deuda.</p>
        <a asp-page="/chat_Bania" class="btn btn-primary">Comenzar con el coaching</a>
    </div>

</div>
<!-- /.row -->