@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br/>
<br />
<br />
<br />
<div class="row">

    <div class="col-sm-4">
        <h3>Tarjeta de credito</h3>
        <p>elige la mejor tarjeta para ti y úsala de inmediato</p>
        <a class="btn btn-link btn-sm pull-right">2 años sin anualidad <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <h3>Pagaré</h3>
        <p>en 5 minutos invierte desde 1 día de plazo a partir de $5000 MXN.</p>
        <a class="btn btn-link btn-sm pull-right">ver más... <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <h3>Crédito de Nómina</h3>
        <p>contrata tu crédito o paga el actual y solicita uno nuevo</p>
        <a class="btn btn-link btn-sm pull-right">ver más... <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <h3>Fondos de inversion</h3>
        <p>Encuentra la inversión ideal para ti desde $50 pesos y es super divertido por favor da click aquí</p>
        <a asp-page="pagina_info" class="btn btn-link btn-sm pull-right">quieres ver más... <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <h3>Adelanto de Nómina</h3>
        <p>recibe facil y rápido un anticipo de tu sueldo</p>
        <a class="btn btn-link btn-sm pull-right">ver más... <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <h3>seguros</h3>
        <p>Asegura tus objetos personales y cuentas.</p>
        <a class="btn btn-link btn-sm pull-right">ver más... <i class="fa fa-angle-right"></i></a>
    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

</div>