@page
@model pagina_infoModel
@{
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html"></a>
                </li>
                <li class="active"></li>
            </ol>
        </div>

    </div>

<div class="row">
    <br />
    <div class="col-md-6">
            <img class="img-responsive" src="https://themanufacturer-cdn-1.s3.eu-west-2.amazonaws.com/wp-content/uploads/2023/09/14233018/Garry-Myatt-L-cropped-2-550x350.png">
    </div>
    <div class="col-md-6">
        <h2>Bienvenido a nuestro perfilador.</h2>
        <p>Con esta herramienta encontramos las opciones de inversión más convenientes para ti, de acuerdo a tu perfil y objetivos.</p>
        <p>Únicamente responde las siguientes preguntas.</p>
        <br />
            <a asp-page="/Formulario" class="btn btn-primary" >Comenzar</a>
    </div>

</div>
</div>